@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-thumb{
  background: #222222;
}








/*INDEX*/
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('image/coding_on_screen.jpeg') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}
























/*BIO*/
#bio{
  background-color: #363636;
}
/*PROGRAMMATORE*/
.Programmatore{
  width: 80%;
  height: 100vh;
  border-radius: 20px;

  background-color: #d4d4d4;

  position: absolute;
  top: 16%;
  left: 16%;
}
.titleProgrammatore{
  text-align: center;
  font-size: 60px;
}
.imgProgrammatore{
  border-radius: 20px;

  width: 40%;

  margin-top: 10px;
  margin-left: 30%;
}
.desriptionProgrammatore{
  margin-left: 10px;
  font-size: 20px;
  color: black;
}
.centratesto{
  text-align: center;
}
.btnsProgrammazione button{
  height: auto;
  width: 180px;
  border-radius: 5px;
  border: 2px solid white;
  color: white;
  background: none;
  margin-left: 45%;
  margin-top: 20px;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btnsProgrammazione button:hover{
  background: white;
  color: black;
}
/*VISUALDESIGNER*/
.VisualDesigner{
  width: 80%;
  height: 60vh;
  border-radius: 20px;

  background-color: #d4d4d4;

  position: absolute;
  top: 120%;
  left: 8%;
}
.titleVisualDesigner{
  text-align: center;
  font-size: 60px;
}
.imgVisualDesigner{
  border-radius: 20px;

  width: 40%;

  margin-top: 10px;
  margin-left: 30%;
}
.desriptionVisualDesigner{
  margin-left: 10px;
  font-size: 20px;
  color: black;
}

/*Robotica*/
.Robotica{
  width: 80%;
  height: 65vh;
  border-radius: 20px;

  background-color: #d4d4d4;

  position: absolute;
  top: 185%;
  left: 16%;
}
.titleRobotica{
  text-align: center;
  font-size: 60px;
}
.imgRobotica{
  border-radius: 20px;

  width: 40%;

  margin-top: 10px;
  margin-left: 30%;
}
.desriptionRobotica{
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;
  color: black;
}

/*TELECOMUNICAZIONI*/
.Telecomunicazioni{
  width: 80%;
  height: 65vh;
  border-radius: 20px;

  background-color: #d4d4d4;

  position: absolute;
  top: 255%;
  left: 8%;
}
.titleTelecomunicazioni{
  text-align: center;
  font-size: 60px;
}
.imgTelecomunicazioni{
  border-radius: 20px;

  width: 40%;

  margin-top: 10px;
  margin-left: 30%;
}
.desriptionTelecomunicazioni{
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;
  color: black;
}
























/*APPLICATION*/
#app{
  background-color: #363636;
}
#contenuti{
  width:80%;
  height: fit-content;
  margin: 0 auto;
}
.sezioneContenuto{
  width:400px;
  height: 400px;
  margin: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  border-radius: 10px;

  display: inline-block;
  margin-top: 10%;
}
.imgContenuto{
  width: 90%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}
.imgContenuto img{
  width: 50%;
}
.titleContenuto{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  width:90%;
  margin: 20px auto;
}
.descriptionContenuto{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width:90%;
  height: 150px;
  margin: 0 auto;
}


















/*CONTACT*/
.imgContact{
  background: url('image/coding_on_screen.jpeg') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
/*DISCORD*/
#discord{
  background-color: #71C5EE;
}
.centerDiscord{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  padding: 0 20px;
  text-align: center;
}
.discordWidget{
  margin: 130px 150px;
}
.centerDiscord .btnsDiscord button{
  height: 55px;
  width: 250px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid #2558b6;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 1s ease;
}
.centerDiscord .btnsDiscord button:first-child{
  color: #2558b6;
  background: none;
}
.btnsDiscord button:first-child:hover{
  background: #2558b6;
  color: white;

}
textarea{
  background-color: cornflowerblue;
  opacity: 0%;
  cursor: default;
}





















/*FAQ*/
.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
width: 60%;
margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%; 
 padding: auto;
 
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
